#nav-mobile li a {
  color: #000; }
  #nav-mobile li a:hover {
    background-color: #ffde33; }

nav .button-collapse i {
  font-size: 2rem; }

nav ul.right {
  position: relative;
  top: 50%;
  margin-top: -22px;
  margin-right: 10px; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }
  main .outer-container {
    flex: 1 0 auto;
    height: calc(100vh - 64px); }

.container {
  max-width: 980px; }

nav ul li a:hover {
  background-color: transparent; }
nav ul li.active {
  background-color: #ffde33 !important; }

.col {
  margin-top: 15px; }
  .col.grid {
    border: 1px solid #fff;
    text-align: center; }

.btn {
  margin-top: 0.4rem; }

.pick-date {
  top: -1rem !important;
  font-size: 0.8rem !important; }

@media only screen and (min-width: 993px) {
  .row .col.l9 {
    margin-left: 12.5%; } }
.error {
  margin-top: 10px;
  color: #d84315; }

.font-icon {
  color: #217ee7; }
  .font-icon:hover {
    color: #1565c0; }

main nav .nav-wrapper .col {
  margin: 0; }

.start-margin {
  margin-left: 15px; }

.class404 {
  font-weight: 900;
  font-size: 10em; }

.weather-container .row {
  color: #000;
  height: 60px;
  margin: 0; }
  .weather-container .row .col {
    height: 100%;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    vertical-align: middle; }
