$primary-color: rgba(255, 214, 0, 1)
$primary-lighten: lighten($primary-color, 10%)
$foreground: #000
$sup-color: #1565c0
$sup-lighten: lighten($sup-color, 10%)


#nav-mobile li a
  color: $foreground
  &:hover
    background-color: $primary-lighten

nav .button-collapse i
  font-size: 2rem
nav
  ul.right
    position: relative
    top: 50%
    margin-top: -22px
    margin-right: 10px

body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 0 auto
  .outer-container
    flex: 1 0 auto
    height: calc(100vh - 64px)

.container
  max-width: 980px

nav ul li

  a:hover
    background-color: rgba(0,0,0,0)
  &.active
    background-color: $primary-lighten !important



.col
  &.grid
    border: 1px solid #fff
    text-align: center
  margin-top: 15px

.btn
  margin-top: 0.4rem

.pick-date
  top: -1rem !important
  font-size: 0.8rem !important


@media only screen and (min-width: 993px)
  .row .col.l9
    margin-left: 12.5%



.error
  margin-top: 10px
  color: #d84315

.font-icon
  color: $sup-lighten
  &:hover
    color: $sup-color

main nav .nav-wrapper .col
  margin: 0

.start-margin
  margin-left: 15px

.class404
  font-weight: 900
  font-size: 10em

.weather-container
  .row
    color: $foreground
    height: 60px
    margin: 0
    .col
      height: 100%
      background-color: lighten($foreground, 95%)
      border: 1px solid lighten($foreground, 90%)
      vertical-align: middle
