

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html ng-app="trackerApp" ng-controller="translateController as trsl">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-ui-router/angular-ui-router.min.js"></script>

    <script src="bower_components/angular-translate/angular-translate.js"></script>




    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <title>Activity Tracker</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
    <script type="text/javascript" src="js/weather.js"></script>

    <script type="text/javascript" src="js/tracker.js"></script>
    <script type="text/javascript" src="js/constants.js"></script>

    <base ng-href="{{baseUrl}}">

  </head>
  <header>
      <div class="navbar-fixed" ng-controller="headerController">
          <nav class="yellow accent-4 black-text">
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo center black-text">Activity Tracker</a>
                  <a href="#" data-activates="mobile-demo" class="button-collapse black-text" data-menuwidth="500" data-closeonclick="false" data-sidenav="left">
                      <i class="material-icons">menu</i>
                  </a>
                  <ul id="nav-mobile" class="left hide-on-med-and-down black-text">
                      <li ng-class="{ active: isActive('/runners')}">
                          <a href="#/runners">Runners</a>
                      </li>
                      <li ng-class="{ active: isActive('/activities')}">
                          <a href="#/activities">Activities
                          </a>
                      </li>
                      <li ng-class="{ active: isActive('/login')}">
                          <a href="#">Login
                          </a>
                      </li>
                      <li ng-class="{ active: isActive('/register')}">
                          <a href="#">Register
                          </a>
                      </li>
                  </ul>

                  <ul class="right">
                      <li>
                          <select class="browser-default" ng-options="language | translate for language in trsl.languages" ng-model="trsl.language" ng-change="trsl.updateLanguage()" watch material-select></select>
                      </li>
                  </ul>

                  <ul class="side-nav black-text" id="mobile-demo">
                      <li ng-class="{ active: isActive('/runners')}">
                          <a href="#/runners">Runners
                          </a>
                      </li>
                      <li ng-class="{ active: isActive('/activities')}">
                          <a href="#/activities">Activities
                          </a>
                      </li>
                      <li ng-class="{ active: isActive('/login')}">
                          <a href="#">Login</a>
                      </li>
                      <li ng-class="{ active: isActive('/register')}">
                          <a href="#">Register
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>

      </div>
  </header>

    <body>
        <main ui-view></main>
    </body>
    <footer></footer>

</html>
