            <div class="row">
                <div class="col s12">
                    <div class="col s12 center-align">
                        <h5 class="blue-text text-darken-3">{{ 'RUNACTIVITIES' | translate}}
                        </h5>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th data-field="id">{{'DATE' | translate }}</th>
                            <a href="activity.jsp"></a>
                                    <th data-field="name">{{'DISTANCE' | translate }}</th>
                                    <th data-field="time">{{'TIME' | translate }}</th>
                                    <th data-field="speed">{{'SPEED' | translate }}</th>
                                    <th data-field="Pace">{{'PACE' | translate }}</th>
                                    <th data-field="runner">{{'RUNNER' | translate }}</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="activity in activities.activityList">
                                    <td>{{activity.formattedDate}}</td>
                                    <td>{{activity.formattedDistance}}km</td>
                                    <td>{{activity.formattedTime}}</td>
                                    <td>{{activity.averageSpeed}}km/h</td>
                                    <td>{{activity.pace}}</td>
                                    <td>
                                        <a ng-href="#/runners/{{activity.runner.id}}">{{activity.runner.nickname}}</a>
                                    </td>

                                    <td>
                                        <a href="#">
                                            <i class="material-icons font-icon">clear</i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="col s12">
                        <a href="#" class="waves-effect waves-light yellow accent-4 black-text btn">
                            <i class="material-icons right">library_add</i>{{ 'ADD' | translate}}</a>
                    </div>


                </div>
                <div ng-show="activities.activityList.length != 0">

                        <div class="col s6">
                            <h5 class="blue-text text-darken-3">{{ 'FASTESTRUN' | translate}}</h5>
                            <div class="row">
                                <div class="col s12">
                                    <div class="card-panel teal">
                                        <span class="white-text">
                                            {{ 'FASTESTRUN_CONTENT' | translate :
                                                {
                                                    nickname : activities.fastest.runner.nickname,
                                                    distance: activities.fastest.formattedDistance,
                                                    time: activities.fastest.formattedTime
                                                }
                                            }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s6">
                            <h5 class="blue-text text-darken-3">{{ 'LONGESTRUN' | translate}}</h5>
                            <div class="row">
                                <div class="col s12">
                                    <div class="card-panel teal">
                                        <span class="white-text">
                                        {{ 'LONGESTRUN_CONTENT' | translate :
                                            {
                                                nickname : activities.longest.runner.nickname,
                                                distance: activities.longest.formattedDistance,
                                                time: activities.longest.formattedTime
                                            }
                                        }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <h5 class="blue-text text-darken-3">{{ 'AMOUNTOFRUNS' | translate}}</h5>
                        <p>{{ 'AM_RUNS' | translate : {amount : activities.activityList.length } }}</p>

                    </div>
    </div>
