
            <nav>
                <div class="nav-wrapper blue darken-3 white-text">
                    <div class="col s12">
                        <div class="start-margin">
                            <a class="breadcrumb" href="#/runners">{{ 'RUNNERS' | translate }}</a>
                            <span class="breadcrumb">{{personDetails.person.nickname}}</span>
                        </div>
                    </div>
                </div>
            </nav>
            
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="col s12 center-align">
                            <h5 class="blue-text text-darken-3">{{ 'RUNACTIVITIES' | translate }}
                            </h5>
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th data-field="id">{{ 'DATE' | translate}}</th>
                                        <th data-field="name">Nickname</th>
                                        <th data-field="time">{{ 'TIME' | translate}}</th>
                                        <th data-field="speed">{{ 'SPEED' | translate}}</th>
                                        <th data-field="Pace">{{ 'PACE' | translate}}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="activity in personDetails.activities">
                                        <td>{{activity.formattedDate}}</td>
                                        <td>{{activity.formattedDistance}} km</td>
                                        <td>{{activity.formattedTime}}</td>
                                        <td>{{activity.averageSpeed}} km/h</td>
                                        <td>{{activity.pace}}</td>

                                        <td>
                                            <a href="#">
                                                <i class="material-icons font-icon">clear</i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col s12">
                            <a href="#" class="waves-effect waves-light yellow accent-4 black-text btn">
                                <i class="material-icons right">library_add</i>{{ 'ADD' | translate}}</a>
                        </div>
                    </div>

                </div>
            </div>
