<div class="outer-container valign-wrapper">
    <div class="container valign">
        <h5 class="center-align">{{'INTROMESSAGE' | translate }}</h5>
        <div class="weather-container">

            <div class="row">
                <div class="col s6">
                    <input id="city-search" name="city" type="text" placeholder="City" ng-model="weather.city" ng-keydown="weather.searchWeather($event)" value="{{weather.city}}"></div>
                <div class="col s6">
                    <p id="date">{{weather.dateText}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p id="weather-degrees">{{weather.degrees}}</p>
                </div>
                <div class="col s6">
                    <p id="rain-chance">{{weather.rainChance}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p id="weather-description">{{weather.description}}</p>
                </div>
                <div class="col s6">
                    <img ng-src="{{weather.iconUrl}}" id="weather-icon"></p>
                </div>
            </div>
        </div>
    </div>
</div>
