
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="col s12 center-align">
                    <h5 class="blue-text text-darken-3">{{ 'ACTIVE' | translate }} {{'RUNNERS' | translate}}</h5>


                    <table class="striped">
                        <thead>
                            <tr>
                                <th data-field="id">{{ 'USERNAME' | translate }}</th>
                                <th data-field="first-name">{{ 'FIRSTNAME' | translate }}</th>
                                <th data-field="last-name">{{ 'LASTNAME' | translate }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="person in persons.personList">
                                <td>{{person.nickname}}</td>
                                <td>{{person.firstname}}</td>
                                <td>{{person.lastname}}</td>
                                <td>
                                    <a href="#">
                                        <i class="material-icons font-icon">create</i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="material-icons font-icon">add_circle_outline</i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#/runners/{{person.id}}">
                                        <i class="material-icons font-icon">storage</i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <i class="material-icons font-icon">clear</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s12">
                    <a href="#" class="waves-effect waves-light yellow accent-4 black-text btn">
                        <i class="material-icons right">library_add</i>{{ 'ADDPERSON' | translate }}</a>
                </div>
            </div>
                <div ng-show="persons.personList.length != 0">
                    <div class="col s12">
                        <div class="col s6">
                            <h5 class="blue-text text-darken-3">{{ 'FASTESTRUNNER' | translate }}</h5>
                            <div class="row">
                                <div class="col s12">
                                    <div class="card-panel teal">
                                        <span class="white-text">{{ 'FASTESTRUNNER_CONTENT' | translate :
                                            {
                                                nickname : persons.longest.nickname,
                                                firstname: persons.longest.firstname,
                                                lastname : persons.longest.lastname
                                            }
                                        }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <h5 class="blue-text text-darken-3">{{ 'LONGESTRUNNER' | translate }}</h5>
                            <div class="row">
                                <div class="col s12">
                                    <div class="card-panel teal">
                                        <span class="white-text">{{ 'LONGESTRUNNER_CONTENT' | translate :
                                            {
                                                nickname : persons.longest.nickname,
                                                firstname: persons.longest.firstname,
                                                lastname : persons.longest.lastname
                                            }
                                        }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


        </div>

    </div>
