#nav-mobile li a {
  color: #000; }
  #nav-mobile li a:hover {
    background-color: #ffde33; }

nav .button-collapse i {
  font-size: 2rem; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.container {
  max-width: 980px; }

nav ul li a:hover {
  background-color: transparent; }
nav ul li.active {
  background-color: #ffde33 !important; }

.col {
  margin-top: 15px; }
  .col.grid {
    border: 1px solid #fff;
    text-align: center; }

.btn {
  margin-top: 0.4rem; }

.pick-date {
  top: -1rem !important;
  font-size: 0.8rem !important; }

@media only screen and (min-width: 993px) {
  .row .col.l9 {
    margin-left: 12.5%; } }
.error {
  margin-top: 10px;
  color: #d84315; }

.font-icon {
  color: #217ee7; }
  .font-icon:hover {
    color: #1565c0; }

main nav .nav-wrapper .col {
  margin: 0; }

.start-margin {
  margin-left: 15px; }

.class404 {
  font-weight: 900;
  font-size: 10em; }
